<ul>
<% @properties.each do |property|%>
<li><%= property.property_name%></li> 
  <p><%= property.description %></p>
  <p><%= property.price%></p>
  <p><%= property.host_name%></p>
  <form action="/properties/<%= property.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete property" id="delete_1"/>
  </form>
<% end %>
</ul>

<form action="/properties/filter" method="get">
  <input type="text" name="filter" placeholder="Filter keyword" />
  <input type="submit" value="Filter" />
</form>