<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>

<header>
  <a href="/">
  <img src="bee_logo.png" class="logo" alt="BeeNBee Logo">
  <h1>Bee N Bees.com</h1>
  </a>
</header>

<h2> List properties page </h2>
<ul>
<% @properties.each do |property| %>
  <li><%= property.property_name %></li> 
  <p><%= property.description %></p>
  <p><%= property.price %></p>
  <p><%= property.host_name %></p>
  <form action='/properties/<%= property.id %>' method='post'>
  <input type='submit' value='Book Now!' id=<%= property.id %>/>
  </form>
  <form action="/properties/<%= property.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete property" id="delete_1"/>
  </form>
<% end %>
</ul> 

<form action='/' method='get'>
  <input type='submit' value='Back'/>
</form>

<form action="/properties/filter" method="get">
  <input type="text" name="filter" placeholder="Filter keyword" />
  <input type="submit" value="Filter" />
</form>
